/.idea/
/__pycache__/
__pycache__
__pycache__/
.virtualenvironment
.virtualenvironment/
*.pyc
/bserver_simple.bat
/venv
/divethru/divethru/.env
/media/media/
/divethru/divethru/DiveThru-f8104577af23.json
/media/
/temp/
static/
.DS_Store
.env
orange
.vscode
/resources/
